body{
    background-color: black;
}
.invalid {
    border-color: red;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.form-container input {
    padding: 5px;
    font-size: 14px;
    width: 200px;
    height: 45px;
    box-sizing: border-box;
}
